<header>
  <div class="container">
    <a routerLink="/" class="logo">Verse Mine! is mine</a>
    <nav>
      <ul>
        <li *ngIf="isAuth">
          <button mat-button routerLink="/upload">Upload</button>
        </li>
        <li>
          <button mat-button color="white" routerLink="/">Verse</button>
        </li>
        <li>
          <button mat-button color="white" routerLink="/">Documents</button>
        </li>
        <li>
          <button mat-button color="white" routerLink="/">Donation</button>
        </li>
        <li *ngIf="!isAuth">
          <button mat-button routerLink="/login">Login</button>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <button mat-button routerLink="/dashboard">{{ user.name }}</button>
          <div class="menu">
            <button mat-button routerLink="/profile">Profile</button>
            <button mat-button routerLink="/orders">Orders</button>
            <button mat-button (click)="logout()">Logout</button>
          </div>
        </li>
        <li>
          <button mat-button routerLink="/cart-page">
            Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
