<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">

      <text-input [control]="fc['email']" [showErrorsWhen]="isSubmitted" type="email" label="Email">
      </text-input>

      <text-input [control]="fc['password']" [showErrorsWhen]="isSubmitted" type="password" label="Password">
      </text-input>

      <default-button text="Login"></default-button>
      <div class="register">
        New user? &nbsp;
        <a routerLink="/register" [queryParams]="{returnUrl : returnUrl}">
          Register here
        </a>
      </div>

      <!-- <input-container label="Email">
        <input type="email" placeholder="Email" formControlName="email" />
        <input-validation [control]="fc['email']" [showErrorsWhen]="isSubmitted"></input-validation>
      </input-container> -->

      <!-- <div class="input-container">
        <label>Password</label>
        <div>
          <input type="password" placeholder="Password" formControlName="password" />
        </div>

        <div class="error-list" *ngIf="fc['password'].errors && isSubmitted">
          <div *ngIf="fc['password'].errors['required']">
            Should not be empty
          </div>
        </div>
      </div> -->

      <!-- <div class="button">
        <button type="submit">Login</button>
      </div> -->
    </form>
  </div>
</div>
