<div class="container">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <div class="layout">
    <title>Upload New Verse</title>

    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="food.name"
        name="name"
        matInput
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select [(ngModel)]="food.tags" name="tags">
        <mat-option *ngFor="let tag of verseTags" [value]="tag">{{
          tag
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <label
      class="text-button-radio"
      *ngFor="let x of cookTimeOption"
      for="myRadioId"
    >
      <input
        type="radio"
        id="myRadioId"
        name="sellbuy"
        [(ngModel)]="food.cookTime"
        [value]="x"
      />
      {{ x }}
    </label>

    <div class="row-button" [align]="'end'">
      <button
        mat-raised-button
        color="primary"
        (click)="saveFood()"
        routerLink="/"
      >
        Submit
      </button>
      <button mat-raised-button mat-dialog-close color="warn" routerLink="/">
        CANCEL
      </button>
    </div>
  </div>
</div>
