/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2f3237;
  --color-primary: #fbfbff;
  --color-primary-variant: #2e6f9e;
  --color-secondary: #01baef;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-red: #ca054d;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

html,
button {
  font-family: "Quicksand", "sans-serif";
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  /* //background-image: url(../src/assets/denim.webp); */
}

a {
  text-decoration: none;
}
